/*
* Copyright 2013 Lauren Sperber
* https://github.com/lauren/simple-select/blob/master/LICENSE
*/

//// mixins

.rounded-corners (@radius: 4px) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
			 -o-border-radius: @radius;
	        border-radius: @radius;
}

//// variables

@big: 50em;
@medium: 30em;
@small: 10em;

//// styles

body {
	font-family: helvetica;
	font-weight: 200;
}

div {
	padding:5px;
	margin:5px;
}

ul {
	width:500px;
}

li {
	margin-bottom:4px;
}

a {
	text-decoration:none;
	color: #0088ff;
	&:hover {
		color: #0088ff;
		text-decoration:underline;
	}
	&:active {
		color: #0088ff;
	}
}

.container {
	clear:both;
	margin:0 auto;
	text-align:center;
	padding:5px;
}

.circle, .square {
	text-align:center;
	float:left;
	margin:15px 5px;
	width: @small;
	height: @small;
}
